/* General Styles */
:root {
  --clr-white: 0 100% 100%;
  --clr-black: 0 0% 0%;
  --clr-navy-950: 226 43% 10%;
  --clr-navy-900: 235 46% 20%;
  --clr-navy-800: 235 41% 34%;
  --clr-navy-200: 236 100% 87%;
  --clr-orange-300: 15, 100%, 70%;
  --clr-purple-700: 264, 64%, 52%;
  --clr-purple-600: 246, 80%, 60%;
  --clr-purple-500: 235, 45%, 61%;
  --clr-blue-300: 195, 74%, 62%;
  --clr-pink-400: 348, 100%, 68%;
  --clr-green-400: 145, 58%, 55%;
  --clr-yellow-300: 43, 84%, 65%;
  --clr-grey-200: 0, 0%, 85%;
  /* font-family */
  --ff-sans-normal: "Rubik", sans-serif;
  --fs-400: 2rem; /*32 px*/
  --fs-300: 1.5rem; /*24 px*/
  --fs-200: 1.125rem; /* 18px*/
  --fs-100: 0.9375rem; /* 15px*/
}

@media only screen and (min-width: 37.5em) {
  :root {
    --fs-400: 3.5rem; /* 56px */
  }
}
@media only screen and (min-width: 75em) {
  :root {
    --fs-300: 2.5rem; /* 40px */
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(var(--clr-navy-950));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  /* https://www.youtube.com/watch?v=345V2MU3E_w */
  font-style: italic;
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

li {
  list-style-type: none;
}

button {
  display: inline;
  all: unset;
  cursor: pointer;
}

body {
  color: hsl(var(--clr-white));
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-100);
  font-weight: normal;
}

.profile-section {
  display: flex;
  align-items: center;
  background-color: hsl(var(--clr-purple-600));
  padding: 2rem;
  border-radius: 1rem;
  gap: 1.5rem;
}
@media only screen and (min-width: 75em) {
  .profile-section {
    flex-direction: column;
    gap: 2.5rem;
    align-items: start;
    padding: 2rem 0 5.75rem 2rem;
  }
}
.profile-section__avatar {
  height: 4rem;
  width: 4rem;
  border: 3px solid white;
  border-radius: 50%;
}
@media only screen and (min-width: 75em) {
  .profile-section__avatar {
    height: 4.875rem;
    width: 4.875rem;
  }
}
.profile-section__description {
  font-size: var(--fs-100);
  align-self: center;
  font-weight: normal;
  line-height: 18px;
  color: hsl(var(--clr-navy-200));
}
.profile-section__name {
  font-size: var(--fs-300);
  display: block;
  font-weight: 300;
  margin-top: 0.5rem;
  color: hsl(var(--clr-white));
  line-height: 28px;
}
@media only screen and (min-width: 75em) {
  .profile-section__name {
    line-height: 47px;
    margin-top: 0;
  }
}

.timeframe-selector {
  padding: 1.5rem 0;
  color: hsl(var(--clr-purple-500));
  font-size: var(--fs-200);
}
@media only screen and (min-width: 75em) {
  .timeframe-selector {
    padding: 2rem;
  }
}
.timeframe-selector__list {
  display: flex;
  gap: 21px;
  width: 100%;
  justify-content: space-around;
}
@media only screen and (min-width: 75em) {
  .timeframe-selector__list {
    justify-content: flex-start;
    flex-direction: column;
    gap: 21px;
  }
}

.active {
  color: hsl(var(--clr-white));
}

.dashboard-header {
  display: grid;
  background-color: hsl(var(--clr-navy-900));
  border-radius: 1rem;
  overflow: hidden;
}
@media only screen and (min-width: 75em) {
  .dashboard-header {
    grid-column: 1/2;
  }
}

.activity-grid {
  display: grid;
  row-gap: 1.5rem;
}
@media only screen and (min-width: 37.5em) {
  .activity-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .activity-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 75em) {
  .activity-grid {
    grid-column: 2/5;
  }
}

.activity-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
  background-color: hsl(var(--clr-blue-300));
  padding-top: 2.375rem;
  position: relative;
}
.activity-card__menu-icon {
  background-image: url("../../images/icon-ellipsis.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.activity-card::before {
  content: "";
  position: absolute;
  top: -0.75rem;
  right: 1rem;
  width: 80px;
  height: 80px;
  margin: 0.375rem;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 1rem;
}
.activity-card--work {
  background-color: hsl(var(--clr-orange-300));
}
.activity-card--play {
  background-color: hsl(var(--clr-blue-300));
}
.activity-card--study {
  background-color: hsl(var(--clr-pink-400));
}
.activity-card--exercise {
  background-color: hsl(var(--clr-green-400));
}
.activity-card--social {
  background-color: hsl(var(--clr-purple-700));
}
.activity-card--self-care {
  background-color: hsl(var(--clr-yellow-300));
}
.activity-card__info {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 1.5rem;
  background-color: hsl(var(--clr-navy-900));
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  margin-top: auto;
}
@media only screen and (min-width: 37.5em) {
  .activity-card__info {
    display: grid;
    row-gap: 1rem;
  }
}
.activity-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity-card__header .activity-card__title {
  font-size: var(--fs-200);
  font-weight: 500;
}
.activity-card__header .activity-card__menu-icon {
  height: 5px;
  cursor: pointer;
}
.activity-card__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity-card__stats .activity-card__time {
  font-size: var(--fs-400);
  font-weight: 300;
  line-height: 38px;
}
@media only screen and (min-width: 37.5em) {
  .activity-card__stats .activity-card__time {
    line-height: 66px;
  }
}
.activity-card__stats .activity-card__previous {
  color: hsl(var(--clr-navy-200));
  font-size: var(--fs-100);
}
@media only screen and (min-width: 37.5em) {
  .activity-card__stats {
    display: grid;
    row-gap: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.7;
    transform: translateY(4px);
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1);
  }
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  width: clamp(300px, 75%, 600px);
}
@media only screen and (min-width: 37.5em) {
  .dashboard {
    width: clamp(400px, 80%, 800px);
  }
}
@media only screen and (min-width: 56.25em) {
  .dashboard {
    width: clamp(500px, 80%, 1000px);
  }
}
@media only screen and (min-width: 75em) {
  .dashboard {
    width: clamp(800px, 80%, 1120px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
