:root{--clr-white: 0 100% 100%;--clr-black: 0 0% 0%;--clr-navy-950: 226 43% 10%;--clr-navy-900: 235 46% 20%;--clr-navy-800: 235 41% 34%;--clr-navy-200: 236 100% 87%;--clr-orange-300: 15, 100%, 70%;--clr-purple-700: 264, 64%, 52%;--clr-purple-600: 246, 80%, 60%;--clr-purple-500: 235, 45%, 61%;--clr-blue-300: 195, 74%, 62%;--clr-pink-400: 348, 100%, 68%;--clr-green-400: 145, 58%, 55%;--clr-yellow-300: 43, 84%, 65%;--clr-grey-200: 0, 0%, 85%;--ff-sans-normal: "Rubik", sans-serif;--fs-400: 2rem;--fs-300: 1.5rem;--fs-200: 1.125rem;--fs-100: 0.9375rem}@media only screen and (min-width: 37.5em){:root{--fs-400: 3.5rem}}@media only screen and (min-width: 75em){:root{--fs-300: 2.5rem}}*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box}*{margin:0;padding:0}body{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;background-color:hsl(var(--clr-navy-950));display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;min-height:100vh}img{font-style:italic;display:block;max-width:100%;height:auto}p,h1,h2,h3{overflow-wrap:break-word}li{list-style-type:none}button{display:inline;all:unset;cursor:pointer}body{color:hsl(var(--clr-white));font-family:var(--ff-sans-normal);font-size:var(--fs-100);font-weight:normal}.profile-section{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:hsl(var(--clr-purple-600));padding:2rem;border-radius:1rem;gap:1.5rem}.profile-section__avatar{height:4rem;width:4rem;border:3px solid #fff;border-radius:50%}.profile-section__description{font-size:var(--fs-100);-ms-flex-item-align:center;align-self:center;font-weight:normal;line-height:18px;color:hsl(var(--clr-navy-200))}.profile-section__name{font-size:var(--fs-300);display:block;font-weight:300;margin-top:.5rem;color:hsl(var(--clr-white));line-height:28px}.timeframe-selector{padding:1.5rem 0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;color:hsl(var(--clr-purple-500))}.active{color:hsl(var(--clr-white))}.dashboard-header{display:grid;background-color:hsl(var(--clr-navy-900));border-radius:1rem;overflow:hidden}.activity-grid{display:grid;row-gap:1.5rem}.activity-card{overflow:hidden;border-radius:1rem;background-color:hsl(var(--clr-blue-300));padding-top:2.375rem;position:relative}.activity-card::before{content:"";position:absolute;top:-0.75rem;right:1rem;width:80px;height:80px;margin:.375rem;background-image:url("../../images/icon-play.svg");background-size:cover;background-position:center;border-radius:0 0 0 1rem}.activity-card__info{display:-webkit-box;display:-ms-flexbox;display:flex;gap:.5rem;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:1.5rem;background-color:hsl(var(--clr-navy-900));border-radius:1rem;position:relative;z-index:1}.activity-card__header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.activity-card__header .activity-card__title{font-size:var(--fs-200);font-weight:500}.activity-card__header .activity-card__menu-icon{height:5px;cursor:pointer}.activity-card__stats{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.activity-card__stats .activity-card__time{font-size:var(--fs-400);font-weight:300;line-height:38px}.activity-card__stats .activity-card__previous{color:hsl(var(--clr-navy-200))}.dashboard{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:1.5rem;padding:1.5rem}    -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.activity-card__header .activity-card__title {
  font-size: var(--fs-200);
  font-weight: 500;
}
.activity-card__header .activity-card__menu-icon {
  height: 5px;
  cursor: pointer;
}
.activity-card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.activity-card__stats .activity-card__time {
  font-size: var(--fs-400);
  font-weight: 300;
  line-height: 38px;
}
.activity-card__stats .activity-card__previous {
  color: hsl(var(--clr-navy-200));
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}