@use "../abstracts/mixins";

.timeframe-selector {
  padding: 1.5rem;
  color: hsl(var(--clr-purple-500));
  font-size: var(--fs-200);

  @include mixins.respond(desktop) {
    padding: 2rem;
  }

  &__list {
    display: flex;
    gap: 21px;
    width: 100%;
    justify-content: space-evenly;

    @media (max-width: 24.75em) {
      font-size: 1rem;
    }

    @include mixins.respond(desktop) {
      justify-content: flex-start;
      flex-direction: column;
      gap: 21px;
    }
  }
}

.active {
  color: hsl(var(--clr-white));
}
