@use "../abstracts/mixins";

.profile-section {
  display: flex;
  align-items: center;
  background-color: hsl(var(--clr-purple-600));
  padding: 2rem;
  border-radius: 1rem;
  gap: 1.5rem;

  @include mixins.respond(desktop) {
    flex-direction: column;
    gap: 2.5rem;
    align-items: start;
    padding: 2rem 0 5.75rem 2rem;
  }

  &__avatar {
    height: 4rem;
    width: 4rem;
    border: 3px solid white;
    border-radius: 50%;

    @include mixins.respond(desktop) {
      height: 4.875rem;
      width: 4.875rem;
    }
  }

  &__description {
    font-size: var(--fs-100);
    align-self: center;
    font-weight: normal;
    line-height: 18px;
    color: hsl(var(--clr-navy-200));
  }

  &__name {
    font-size: var(--fs-300);
    display: block;
    font-weight: 300;
    margin-top: 0.5rem;
    color: hsl(var(--clr-white));
    line-height: 28px;

    @include mixins.respond(desktop) {
      line-height: 47px;
      margin-top: 0;
    }
  }
}
